@import "tailwindcss";

@theme {
  --color-status-success: var(--status-success);
  --color-status-warning: var(--status-warning);
  --color-status-danger: var(--status-danger);

  --color-logit-log: var(--logit-log-primary);
  --color-logit-git: var(--logit-git-primary);

  --color-bg-main: var(--bg-default);
  --color-bg-card: var(--bg-card);
  --color-text-main: var(--text-main);
  --color-text-sub: var(--text-sub);
  --color-border-main: var(--border-default);
}

:root {
  --status-success: #88AB75; 
  --status-warning: #E7A675; 
  --status-danger: #D67676; 

  --logit-log-primary: #0059d6;
  --logit-git-primary: #09d868;

  --bg-default: #f5f5f7;
  --bg-card: #ffffff;
  --text-main: #1c1c1c;
  --text-sub: #6d7078;
  --border-default: #eeeeee;

  --font-inter: var(--font-inter, system-ui, -apple-system, sans-serif);
}

body[data-mode="dark"] {
  --status-success: #a3cc8b;
  --status-warning: #f0c496;
  --status-danger: #e59898;

  --logit-log-primary: #0064f0;
  --logit-git-primary: #2cbc6f;

  --bg-default: #1a1a1e;
  --bg-card: #282a36;
  --text-main: #eaeaea;
  --text-sub: #b0b0b0;
  --border-default: #333333;
}

body {
  background-color: var(--bg-default);
  color: var(--text-main);
  font-family: var(--font-inter, system-ui, -apple-system, sans-serif);
  transition: background-color 0.3s, color 0.3s;
}

/* 스크롤바 커스텀 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--logit-log-primary);
  border-radius: 10px;
}